/** COLORS +*/

$primary-color: #4589FF;
$primary-color-light: #D2E3FF;
$secondary-color: #005DFF;

$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-dark: #42526E;
$basic-grey: #D1D1D1;

$priority-low: #7AE229;
$priority-medium: #FFA800;
$priority-high: #FF3D00;
$color-error: #FF8190;

$badge-color-1: #ff7a00;
$badge-color-2: #9327ff;
$badge-color-3: #6e52ff;
$badge-color-4: #fc71ff;
$badge-color-5: #ffbb2b;
$badge-color-6: #00bee8;
$badge-color-7: #ff4646;
$badge-color-8: #462f8a;
$badge-color-9: #1fd7c1;

/** BREAKPOINTS +*/

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

